body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  height: 100vh;
  min-width: 320px;
  background-color: #fff;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

section {
  padding: 70px 0 80px;
  text-align: center;
  text-transform: uppercase; }
  section h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 25px; }
  section h2 {
    margin: 0 0 25px; }
  section .s_descr {
    display: inline-block;
    height: 60px;
    margin-bottom: 70px;
    position: relative; }
    section .s_descr::after {
      content: "";
      display: inline-block;
      width: 160px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 300px;
    width: 150px;
    margin-top: -150px;
    margin-left: -75px;
    left: 50%;
    top: 40%;
    position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 80px;
  width: 80px;
  position: relative;
  z-index: 100; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 20px; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block; }

svg path {
  fill: #e0e0e0; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .top_mnu ul:nth-child(1) a,
    .top_mnu li:nth-child(1) a {
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s; }
    .top_mnu ul:nth-child(2) a,
    .top_mnu li:nth-child(2) a {
      -webkit-animation-duration: 1s;
      animation-duration: 1s; }
    .top_mnu ul:nth-child(3) a,
    .top_mnu li:nth-child(3) a {
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s; }
    .top_mnu ul:nth-child(4) a,
    .top_mnu li:nth-child(4) a {
      -webkit-animation-duration: 2s;
      animation-duration: 2s; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text p {
      margin: 0;
      font-size: 1.2em;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 90px;
      color: #fff;
      border: 5px solid #fff;
      text-transform: uppercase;
      font-size: 2.8em;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
      margin-left: 20px;
      margin-right: 20px;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }

.h_opacify {
  opacity: 0.3;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.main_footer {
  padding: 50px 0; }
  .main_footer .social_wrap {
    float: right; }
    .main_footer .social_wrap ul {
      margin: 0; }
  .main_footer .copyright_info {
    float: left; }

.s_about {
  overflow: hidden; }
  .s_about .section_content {
    text-align: left;
    text-transform: none; }
  .s_about .personal_header {
    text-align: left;
    font-size: 16px;
    color: #555; }
  .s_about .person_photo {
    margin-bottom: 45px; }
    .s_about .person_photo img {
      max-width: 100%;
      border-radius: 50%; }
  .s_about p {
    margin-bottom: 25px; }
  .s_about ul,
  .s_about li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .s_about li {
    margin-bottom: 10px; }
  .s_about .social_wrap {
    margin-top: 25px;
    margin-bottom: 20px; }

/*Social links */
.social_wrap li {
  display: inline-block;
  font-size: 25px;
  padding: 0 5px; }

.s_resume {
  overflow: hidden; }
  .s_resume .section_content {
    text-transform: none; }
    .s_resume .section_content .left {
      text-align: right;
      border-right: #d2d2d2 solid 1px; }
      .s_resume .section_content .left h3 {
        text-align: right; }
      .s_resume .section_content .left .resume_descr strong {
        margin-left: 20px; }
    .s_resume .section_content .right {
      text-align: left; }
      .s_resume .section_content .right h3 {
        text-align: left; }
      .s_resume .section_content .right .resume_descr strong {
        margin-right: 20px; }
    .s_resume .section_content h3 {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 600; }
    .s_resume .section_content .resume_icon {
      font-size: 40px;
      margin-bottom: 35px; }
    .s_resume .section_content .resume_item {
      margin-bottom: 35px; }
      .s_resume .section_content .resume_item:last-child {
        margin-bottom: 0; }
        .s_resume .section_content .resume_item:last-child p {
          margin-bottom: 0; }
      .s_resume .section_content .resume_item .year {
        display: inline-block;
        margin-bottom: 15px;
        padding: 0 10px;
        color: #fff;
        font-weight: 600;
        font-style: italic; }
      .s_resume .section_content .resume_item .resume_descr {
        font-style: italic; }
        .s_resume .section_content .resume_item .resume_descr strong {
          font-weight: 600;
          font-style: normal;
          text-transform: uppercase; }

.s_portfolio .section_content ul,
.s_portfolio .section_content li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio .section_content li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio .section_content ul {
  margin-bottom: 50px; }

.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    max-width: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .portfolio_item .port_item_cont:hover {
      opacity: 1; }
    .portfolio_item .port_item_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    .portfolio_item .port_item_cont a {
      background-color: transparent;
      border: 1px solid #fff;
      padding: 2px 10px;
      display: inline-block; }

.portfolio_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  position: relative; }
  .portfolio_descr p,
  .portfolio_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .portfolio_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px; }
  .portfolio_descr img {
    width: 100%;
    padding-top: 20px; }

.s_contacts {
  text-transform: none; }
  .s_contacts .contact_box {
    text-align: left;
    margin-bottom: 40px; }
    .s_contacts .contact_box h3 {
      color: #000;
      text-align: left;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 0; }
    .s_contacts .contact_box .contacts_icon {
      font-size: 40px; }
    .s_contacts .contact_box p {
      margin-top: 5px; }
      .s_contacts .contact_box p a {
        font-size: 18px; }
  .s_contacts .main_form .button_submit {
    border: none;
    color: #fff;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400; }

.form-group {
  display: block;
  margin-bottom: 25px; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; }
