
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
	font-family: 'Robotobold', sans-serif ;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
	font-family: 'Robotobold', sans-serif ;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
	font-family: 'Robotobold', sans-serif ;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
	font-family: 'Robotobold', sans-serif ;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: "Robotobold", sans-serif;
	background-color: #efefe2;
	font-size: 16px;
}
.hidden {
	display: none;
}
.main_menu {
	line-height: 20px;
	font-size: 16px;
	font-family: "Clear_sansbold", sans-serif;
}
body .ellips {
	display: inline-block;
}
.main_menu a {
	font-size: 15px;	
	color: #000;
}

/*Navigation-block*/
nav {
	display: block;
	vertical-align: top;
	float: right;
	}
nav .button-menu  {
	position: relative;
	cursor: pointer;
	border: none;
	background-color: transparent;
}
.fa-bars {
		color: #2f3a3d;
		font-size: 26px;
		font-weight: 400;
	}
nav ul li {
	display: block;
	color: #000000;
	font-family: "Clear_sansbold", sans-serif;
	font-size: 15px;
}
.fa-angle-down {
	font-size: 15px;
	padding-left: 5px;
}
.fa-angle-down:hover {
	cursor: pointer;
	color: #ee5575;
}
nav ul li .aside-menu, .ul-2 .aside-menu-2 {
	position: absolute;
	display: none;
	text-align: center;
	right: 0;
  top: 163px;
}
nav ul li .aside-menu li, .ul-2 .aside-menu-2 li {
	display: inline-block;
}
nav ul li .aside-menu li a, .ul-2 .aside-menu-2 li a {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	height: 20px;
	text-decoration: underline;
}
nav ul li .aside-menu li a:hover, .ul-2 .aside-menu-2 li a:hover {
	border: none;
	text-decoration: none;
	border-radius: 5px;
	background-color: #c2c6c6;
}
nav ul li a {
	text-decoration: none;
	height: 35px;
	display: inline-block;
}
nav ul li a:hover {
	text-decoration: none;
	border-bottom: 6px solid rgba(237, 77, 120, 0.2);
	color: #ee5575;
}
nav ul.ul-1 {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	text-align: right;
	top: 70px;
	right: 13px;
	display: none;
	z-index: 2;
}

/*Middle-menu*/
.middle-base-menu {
	padding-top: 20px;
	position: relative;
}
.order-form {
	text-align: center;
	background-image: radial-gradient(at bottom left, black, lightgrey);
}
.order-form input {
	display: block;
	width: 95%;
	line-height: 30px;
	font-size: 16px;
	border-radius: 5px;
	margin: 0 auto 12px;
	padding-left: 5px;
	font-family: 'Robotobold', sans-serif ;
}

.order-form .button, .middle-menu .button, .login-form .button {
	background-color: #2f3a3d;
	padding: 6px 26px;
	color: #f1f4f7;
}
.middle-menu a.button {
	display: none;
	font-size: 16px;
}

.middle-menu {
	display: inline-block;
	vertical-align: top;
}
.middle-menu .button-login {
	margin-right: 20px;
	background-color: #efefe2;
	padding: 5px 20px 5px 20px;
	color: #2f3a3d;
	border: 1px solid #2f3a3d;
	white-space: nowrap;
}
.middle-menu .button-login .fa-lock {
	padding-right: 15px;
}
.middle-menu .ul-2 {
	display: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 15px;
	margin-right: 20px;
}
.middle-menu .ul-2 li {
	display: inline-block;
	margin-left: 20px;
}

.ul-2 li a {
	text-decoration: none;
	height: 45px;
	display: inline-block;
}
.ul-2 li a:hover {
	text-decoration: none;
	border-bottom: 6px solid rgba(237, 77, 120, 0.2);
	color: #ee5575;
}

.ul-2 .aside-menu-2 {
	display: none;
}
.ul-2 .aside-menu-2 {
  right: 320px;
  top: 57px;
}
 .login-form input {
	display: block;
	width: 95%;
	line-height: 30px;
	font-size: 16px;
	border-radius: 5px;
	margin: 0 auto 12px;
	padding-left: 5px;
	font-family: 'Robotobold', sans-serif ;
	text-align: center;
}
.login-form a {
	text-decoration: underline;
	color: blue;
	display: block;
	margin: 10px auto;
}
.login-form a:hover {
	text-decoration: none;
}

/*Left menu*/
.left-menu .logo {
display: inline-block;
width: 39px;
height: 39px;
background-color: #292929;
border-radius: 50%;
}
.left-menu h1 {
	display: inline-block;
color: #010101;
font-size: 18px;
font-weight: 700;
line-height: 14px;
letter-spacing: -0.72px;
vertical-align: top;
font-weight: 700;
margin-left: 5px;
}
.left-menu {
	display: inline-block;
	margin-right: 50px;
}


/*Main content*/
main {
	position: relative;
}

.planet-wrapper {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	z-index: 0;
}
.content-wrapper {
	padding: 0 5px;
	/* display: inline-block; */
	/* max-width: 815px; */
	/* margin-right: 0; */
	/* margin-left: 473px; */
}
.content-wrapper h1 {
	color: #d0ca9e;
	font-family: "Robotobold";
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.64px;
	padding: 0 20px;
}

.lorem-wrapper-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.lorem-wrapper {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}
.lorem-wrapper h2 {
color: #262423;
font-family: "Robotoblack";
font-size: 26px;
line-height: 29px;
box-sizing: border-box;
height: 86px;
}

.lorem-wrapper p {
	width: 215px; 
color: #262423;
font-family: "Robotolight";
font-size: 16px;
line-height: 21px;
padding-bottom: 40px;
}
.lorem-wrapper h2 p {
	padding: 0;
	margin: 0;
	color: #262423;
font-family: "Robotoblack";
font-size: 26px;
line-height: 29px;
}


.lorem-wrapper h2::before, .lorem-wrapper h2::after, .lorem-wrapper h2 p::before, .lorem-wrapper h2 p::after {
	position: absolute;
	content: "";
	display: inline-block;
	height: 1px;
	left: 0px;
	right: 0px;
	background-color: #8e8e8e;
	opacity: 0.37;
	z-index: 10;
  -webkit-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.37; }
   }
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.37; }
   }
