/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header .banner {
		width: 350px;
		margin: auto;
	}
	header .banner img {
	width: 350px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	footer .contacts-menu .inp {
		width: 290px;
	}
	footer #form {
		width: 290px;
	}
	header .banner-menu {
		text-align: center;
	}
	header .banner {
		width: 290px;
	}
	header .banner img {
		width: 290px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	header .banner-menu {
		text-align: center;
	}
	header .banner {
		width: 270px;
	}
	header .banner img {
		width: 270px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}